Arduino_and_NodeRed/flows.json
[{"id":"138e21ea.4fb33e","type":"tab","label":"MQTT broker","disabled":false,"info":""},{"id":"dce9f769.f30a48","type":"debug","z":"138e21ea.4fb33e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"50eb7622.7ef7c8","type":"mqtt in","z":"138e21ea.4fb33e","name":"","topic":"LED1","qos":"2","datatype":"auto","broker":"547891df.9f847","x":90,"y":480,"wires":[["29c44f3c.b991"]]},{"id":"8fd009de.043788","type":"mqtt in","z":"138e21ea.4fb33e","name":"","topic":"LED2","qos":"2","datatype":"auto","broker":"547891df.9f847","x":90,"y":580,"wires":[["adaeef95.7a3a1"]]},{"id":"2a8c987c.601f58","type":"serial out","z":"138e21ea.4fb33e","name":"Arduino","serial":"fe344806.32e578","x":580,"y":520,"wires":[]},{"id":"29c44f3c.b991","type":"change","z":"138e21ea.4fb33e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["dce9f769.f30a48","2a8c987c.601f58"]]},{"id":"adaeef95.7a3a1","type":"change","z":"138e21ea.4fb33e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload) + 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["dce9f769.f30a48","2a8c987c.601f58"]]},{"id":"ddbdc6b5.cc9608","type":"mqtt in","z":"138e21ea.4fb33e","name":"","topic":"RGBLED","qos":"2","datatype":"auto","broker":"547891df.9f847","x":100,"y":680,"wires":[["75e974f2.756a5c"]]},{"id":"75e974f2.756a5c","type":"change","z":"138e21ea.4fb33e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload) + 20","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["2a8c987c.601f58","dce9f769.f30a48"]]},{"id":"547891df.9f847","type":"mqtt-broker","name":"","broker":"localhost","port":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe344806.32e578","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]